* {
    box-sizing: border-box;
}

body { 
    background-color: #E5E5E5;
}

body * {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 30px;
}

h2 {
    font-family: 'Righteous', cursive;
}

h4 {
    font-size: 13px;
    font-weight: bold;
}

h6 {
    font-size: 12px;
}

p {
    font-size: 12px;
}

.top {
    background-color: #CF2B2B;
    width: 100%;
    height: auto;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 1px 1px rgb(150, 150, 150);
    z-index: 1;
}

.menu {
    margin: 62px 0px 62px 10px;
    padding: 20px 0px 20px 5px;
}

.list {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    width: 100%;
    overflow-x: scroll;
}

.item {
    margin: 5px 15px 5px 5px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0px 5px 1px rgb(116, 116, 116);
    position: relative;
}

.item img,
.item h4:first-of-type,
.item p {
    margin-bottom: 8px;
}

.item img {
    width: 120px;
}

.item ion-icon {
    position: absolute;
    color: #32B72F;
    background-color: white;
    right: 5px;
    bottom: 5px;
    width: 15px;
    height: 15px;
    display: none;
}

.bottom {
    background-color: white;
    padding: 13px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.select {
    background-color: #CBCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    color: white;
}

.done {
    display: none;
}